<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wondertek.xsgj"
      android:versionCode="1"
      android:versionName="2.2.2">
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
    	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ADD_SYSTEM_SERVICE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>        
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="adnroid.permission.ACCESS_CHECKIN_PROPERTTES"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>	
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	
	<application android:name="com.wondertek.video.VenusApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:screenOrientation="portrait"
        		android:theme="@style/Transparent"
				android:configChanges="orientation|keyboardHidden" 
				android:label="@string/app_name"	
				android:name="com.wondertek.activity.AppFakeActivity"
				android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
		<activity android:name="com.wondertek.activity.AppActivity" 
		    android:screenOrientation="portrait" 
		    android:configChanges="locale|orientation|keyboardHidden" 
		    android:launchMode="singleTop"
		    android:windowSoftInputMode="adjustResize">
		</activity>
		
		<activity android:name="com.google.zxing.client.android.CaptureActivity"
			android:screenOrientation="landscape"
			android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>
        
        <!-- ArPlugin -->
		<activity android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:name="com.ahmobile.ar.Dominoes"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <!-- ArPlugin -->
        
        <!-- baidu map -->
        <service android:name="com.baidu.location.f" android:enabled="true"
			android:process=":remote">
			<!--
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.9"></action>
			</intent-filter>
			-->
		</service>
		<!-- SMSSpam -->
        <receiver android:name="com.wondertek.video.smsspam.SMSSapmReceiver">
              <intent-filter android:priority="10000">
                  <action android:name="android.provider.Telephony.SMS_RECEIVED" />
              </intent-filter>
        </receiver>
        <activity android:name="com.wondertek.video.smsspam.SMSSpamDetailActivity"/>
		<!-- SMSSpam -->
        
		<!-- MsgPush -->
		<service android:enabled="true" 
                android:name="com.wondertek.video.msgpush.implbyself.MsgPushService" >
                <intent-filter>
                    <action android:name="com.wondertek.video.msgpush.implbyself.MsgPushService" />
                </intent-filter>
         </service>
         <service android:enabled="true" 
                android:name="com.wondertek.video.msgpush.mqtt.MqttPushService" >
         </service>
         <activity android:name="com.wondertek.video.msgpush.NotificationDetailsActivity"/>
		 <!-- MsgPush -->
		
		<receiver android:name="com.wondertek.video.alarm.AlarmReceiver"/>
		
	<receiver android:name="com.wondertek.video.DameonReceiver"> 
		<intent-filter> 
			<action android:name="android.intent.action.BOOT_COMPLETED" /> 
			<action android:name="com.wondertek.mobilevideo3.appointmentclick" /> 
		</intent-filter> 
		</receiver> 
			
        <service android:name="com.wondertek.video.DameonService" />	
	
        <service android:enabled="true"
            android:name="com.wondertek.video.sysplayer.SystemMediaPlayerService"/>
        <meta-data android:name="UMS_APPKEY" android:value="9401455e4482f623dcc8a79fd5480550"/>
</application>
     <uses-sdk android:minSdkVersion="7"/>  
     <!-- ArPlugin -->
     <uses-feature android:glEsVersion="0x00020000" />
     <uses-feature android:name="android.hardware.camera" />
     <!-- ArPlugin -->
</manifest> 
