<?xml version="1.0" encoding="utf-8"?><Root><List><Item name="app_name"
value="代维管理系统" /><Item name="module_language" value="Lua" /><Item
name="fav.000000000295" value="1" /><Item name="fav.000000000297"
value="0" /><Item name="app_version" value="1.0.0" /><Item
name="fav.000000000299" value="1" /><Item name="server"
value="http://61.191.25.238:7011" /><Item name="sdk_version"
value="2.9.04" /><Item name="company_url"
value="http://www.wondertek.com.cn" /><Item name="new.000000000297"
value="0" /><Item name="app_id" value="com_wondertek_dw" /><Item
name="shijian" value="2012-08-23 10:58:31" /><Item
name="fav.000000000290" value="1" /><Item name="base_resolution"
value="480,800" /><Item name="daiban" value="HFYDFGS20120800009" /></List></Root>
