<?xml version="1.0" encoding="utf-8"?><Root><List><Item name="userLogin"
value="402848813d38744d013d388ba99f0014" /><Item name="productKey"
value="J0185" /><Item name="password" value="1" /><Item name="ECCode"
value="5515102272" /><Item name="shifoudenglu" value="1" /><Item
name="realName" value="古纪" /><Item name="webcloud"
value="120.209.131.146" /><Item name="app_version" value="1.1.0" /><Item
name="ssourl" value="120.209.131.146" /><Item name="username"
value="guji" /><Item name="appKey" value="appkey-151-17" /><Item
name="longitude" value="0" /><Item name="latitude" value="0" /><Item
name="address" value="0" /></List></Root>
