<?xml version="1.0" encoding="utf-8"?>
<Root>
	<List>
		<Item name="install_pkg_ext" value=".apk" />
		<Item name="curYinHuanListTab" value="1" />
		<Item name="server_url" value="211.138.191.86" />
		<Item name="app_name" value="代维管理系统" />
		<Item name="module_language" value="Lua" />
		<Item name="resultTypeName" value="通过" />
		<Item name="content" value="" />
		<Item name="autoRemeber" value="0" />
		<Item name="password" value="" />
		<Item name="server_port" value="80" />
		<Item name="webcloud" value="120.209.131.146" />
		<Item name="app_version" value="3.2.1" />
		<Item name="sdk_version" value="2.9.04" />
		<Item name="username" value="" />
		<Item name="company_url" value="http://www.wondertek.com.cn" />
		<Item name="tasknum" value="0" />
		<Item name="lines" value="10" />
		<Item name="autoUpdate" value="1" />
		<Item name="app_id" value="com_wondertek_dw" />
		<Item name="base_resolution" value="480,800" />
		<Item name="xlFlag" value="0" />
		<Item name="xlSmsHead" value="XGXV30" />
		<Item name="deviceId" value="44010001" />
		<Item name="cmd" value="00" />
		<Item name="xlSmsEndStr" value="AAA10" />
		<Item name="xlSmsNo" value="10658452" />
		<Item name="product_key" value="4fe7072e-0fa7-4997-865c-bcb5f122b76a" />
		<Item name="ec_code" value="hfrtcyu6" />
	</List>
</Root>
