<?xml version="1.0" encoding="utf-8"?><Root><List><Item name="isQiandao"
value="" /><Item name="isleader" value="0" /><Item name="server_url"
value="http://211.138.183.4" /><Item name="module_language" value="Lua" /><Item
name="app_name" value="安庆烟草" /><Item name="mailreceServer"
value="pop.139.com" /><Item name="loginName" value="202" /><Item
name="serverUrl" value="http://211.138.183.4" /><Item name="mailuser"
value="323131" /><Item name="password" value="123" /><Item
name="autoRemeber" value="0" /><Item name="userId"
value="3WOZM15V71ZLGV7BLJIS6SCM5LCGI1" /><Item name="loginPwd"
value="123" /><Item name="port" value="1001" /><Item name="jizhumima"
value="1" /><Item name="app_version" value="4" /><Item name="username"
value="202" /><Item name="company_url"
value="http://www.wondertek.com.cn" /><Item name="mailsendServer"
value="smtp.139.com" /><Item name="app_id" value="com_wondertek_aqyc" /><Item
name="orgId" value="RLVY2KDJWXMDDBQVU5E1I3OJPWGRK5" /><Item
name="quyuchoose" value="340801" /><Item name="mailpwd" value="123123123" /><Item
name="base_resolution" value="480,800" /></List></Root>
