<?xml version="1.0" encoding="utf-8"?>
<Root>
	<List>
		<Item name="server_url" value="61.191.25.238" />
		<Item name="curYinHuanListTab" value="1" />
		<Item name="yinhuanID" value="7" />
		<Item name="module_language" value="Lua" />
		<Item name="app_name" value="代维管理系统" />
		<Item name="resultTypeName" value="通过" />
		<Item name="server_port" value="7011" />
		<Item name="content" value="" />
		<Item name="autoRemeber" value="0" />
		<Item name="password" value="1" />
		<Item name="yinhuanIDList" value="7;6;5;4;3;2;1;" />
		<Item name="app_version" value="1.0.0" />
		<Item name="xunjianName" value="请选择巡检组" />
		<Item name="sdk_version" value="2.9.04" />
		<Item name="username" value="liuguoli" />
		<Item name="company_url" value="http://www.wondertek.com.cn" />
		<Item name="title" value="合肥通信保障" />
		<Item name="tasknum" value="5" />
		<Item name="lines" value="10" />
		<Item name="autoUpdate" value="1" />
		<Item name="app_id" value="com_wondertek_dw" />
		<Item name="shijian" value="2012-09-24 15:10:40" />
		<Item name="base_resolution" value="480,800" />
		<Item name="daiban" value="AH-004-001-120924-00001" />
	</List>
</Root>
