<?xml version="1.0" encoding="utf-8"?><Root><List><Item
name="install_pkg_ext" value=".apk" /><Item name="orgname"
value="省公司中国移动安徽公司" /><Item name="product_key"
value="4fe7072e-0fa7-4997-865c-bcb5f122b76a" /><Item
name="curYinHuanListTab" value="1" /><Item name="server_url"
value="211.138.191.86" /><Item name="app_name" value="代维管理系统" /><Item
name="module_language" value="Lua" /><Item name="role" value="MM000" /><Item
name="ec_code" value="hfrtcyu6" /><Item name="resultTypeName"
value="通过" /><Item name="content" value="" /><Item name="password"
value="" /><Item name="autoRemeber" value="0" /><Item
name="server_port" value="80" /><Item name="region" value="安徽省" /><Item
name="map_bottomFlag" value="3" /><Item name="realname" value="范秉衡" /><Item
name="webcloud" value="120.209.131.146" /><Item name="simid"
value="fanbingheng" /><Item name="xlFlag" value="0" /><Item
name="app_version" value="3.3.1" /><Item name="quality_date"
value="2013-3" /><Item name="xlSmsEndStr" value="AAA10" /><Item
name="sdk_version" value="2.9.04" /><Item name="username"
value="" /><Item name="xlSmsHead" value="XGXV30" /><Item
name="company_url" value="http://www.wondertek.com.cn" /><Item
name="regionid" value="340000" /><Item name="lines" value="10" /><Item
name="tasknum" value="0" /><Item name="car_date" value="2013-7" /><Item
name="xlSmsNo" value="10658452" /><Item name="cmd" value="00" /><Item
name="autoUpdate" value="1" /><Item name="curDaiBanListTab" value="1" /><Item
name="resource_date" value="2013-7" /><Item name="deviceId" value="" /><Item
name="app_id" value="com_wondertek_dw" /><Item name="base_resolution"
value="480,800" /><Item name="map_regionid" value="341300" /></List></Root>
