<?xml version="1.0" encoding="utf-8"?><Root><List><Item name="yinhuanID7"
value="7;基础设施;基站巡检;严重;;2012-09-26;" /><Item
name="new.000000000187" value="0" /><Item name="server_url"
value="61.191.25.238" /><Item name="curYinHuanListTab" value="1" /><Item
name="yinhuanID" value="7" /><Item name="module_language" value="Lua" /><Item
name="app_name" value="代维管理系统" /><Item name="resultTypeName"
value="通过" /><Item name="server_port" value="7011" /><Item
name="content" value="" /><Item name="autoRemeber" value="1" /><Item
name="password" value="1" /><Item name="yinhuanIDList"
value="7;6;5;4;3;2;1;" /><Item name="app_version" value="1.0.0" /><Item
name="xunjianName" value="请选择巡检组" /><Item name="server"
value="http://61.191.25.238:7011" /><Item name="sdk_version"
value="2.9.04" /><Item name="daibanID000001000003"
value="000001000003;AH-004-001-120922-00002;40115;铁塔整改工作;;" /><Item
name="username" value="liuguoli" /><Item name="daibanIDList"
value="000001000240;000001000003;000000000181;000000000281;" /><Item
name="company_url" value="http://www.wondertek.com.cn" /><Item
name="yinhuanID1" value="1;类型1;火患;紧急;11;2012-09-25;" /><Item
name="title" value="合肥通信保障" /><Item
name="daibanID000001000240"
value="000001000240;AH-004-001-120925-00009;40128;通用任务;;" /><Item
name="yinhuanID2" value="2;类型1;火患;一般;;2012-09-25;" /><Item
name="tasknum" value="5" /><Item name="lines" value="10" /><Item
name="yinhuanID3" value="3;类型1;火患;紧急;1111;2012-09-25;" /><Item
name="autoUpdate" value="1" /><Item name="app_id"
value="com_wondertek_dw" /><Item name="yinhuanID4"
value="4;;火患;;;2012-09-25;" /><Item name="yinhuanID5"
value="5;;火患;;;2012-09-25;" /><Item name="shijian"
value="2012-09-24 15:10:40" /><Item name="base_resolution"
value="480,800" /><Item name="daibanID000000000181"
value="000000000181;000001000003;AH-004-001-120922-00002;40115;铁塔整改工作;2012-09-30 17:02:04" /><Item
name="daiban" value="AH-004-001-120924-00001" /><Item name="yinhuanID6"
value="6;类型1;基站设备及配套;紧急;;2012-09-26;" /><Item
name="daibanID000000000281"
value="000000000281;000001000240;AH-004-001-120925-00009;40128;通用任务;2012-09-26 22:37:16" /></List></Root>
