<?xml version="1.0" encoding="utf-8"?>
<Root>
   <List>
        <!-- 应用信息 -->
        <Item name="company_url" value="http://www.wondertek.com.cn" />
        <Item name="sdk_version" value="2.12.00" />
        <Item name="app_version" value="1.1.1" />
        <Item name="app_id" value="com_wondertek_cnlive2" />
        <Item name="app_name" value="视频中国2" />
        <Item name="base_resolution" value="640,960" />
        <Item name="module_language" value="Lua" />
        <!-- 其它配置信息 -->
        <Item name="wlan_support" value="1"/>
        <Item name="platform" value="iOS" />
        <Item name="server" value="http://tv.cnlivetv.com/clt/" />
        <Item name="show_update_log" value="1" />
        <Item name="wd_channel" value="apple" />
        <Item name="start_img_name" value="pic.jpg" />
        <Item name="start_img_begin_date" value="20120101" />
        <Item name="start_img_end_date" value="20120101" />
        <Item name="wduuid" value="12345678" />
        <Item name="wdclienttype" value="12345678" />
        <Item name="wduseragent" value="12345678" />
        <Item name="refreshInternalTime" value="1" />
        <Item name="jumpHeadBtnFlag" value="0" />
    </List>
</Root>

