<?xml version="1.0" encoding="utf-8"?>
<Root>
	<List>
		<Item name="department_id" value="" />
		<Item name="employee_name" value="" />
		<Item name="install_pkg_ext" value=".apk" />
		<Item name="token" value="" />
		<Item name="product_key" value="4fe7072e-0fa7-4997-865c-bcb5f122b76a" />
		<Item name="app_name" value="集团通讯录" />
		<Item name="module_language" value="Lua" />
		<Item name="deptversion" value="0" />
		<Item name="password" value="" />
		<Item name="department_name" value="" />
		<Item name="userId" value="" />
		<Item name="departmentStr" value="" />
		<Item name="userVersion" value="0" />
		<Item name="mobileRights" value="" />
		<Item name="personImgUrl" value="" />	

		<Item name="webcloud" value="120.209.131.146" />
		<Item name="databaseName" value=".\sqlitedownload/jttxlDatabase" />
		<Item name="app_version" value="1.0.8" />
		<Item name="upgrade_tips" value="1" />
		<Item name="xlSmsEndStr" value="AAA10" />
		<Item name="sdk_version" value="2.9.04" />
		<Item name="username" value="" />
		<Item name="xlSmsHead" value="XGXV30" />
		<Item name="appKey" value="appkey-207-31" />
		<Item name="firstFlag" value="0" />
		<Item name="department_level" value="" />
		<Item name="lines" value="10" />
		<Item name="tasknum" value="1" />
		<Item name="xlSmsNo" value="10658452" />
		<Item name="cmd" value="00" />
		<Item name="autoUpdate" value="1" />
		<Item name="curDaiBanListTab" value="1" />
		<Item name="deviceId" value="" />
		<Item name="app_id" value="com_wondertek_tx" />
		<Item name="base_resolution" value="480,800" />
		<Item name="forceUpdateDatabase" value="1" />
		<Item name="DatabaseVersion" value="4" />
		<Item name="judge_flag" value="0" />		
	</List>
</Root>
